body {
  background-image: url('../img/main-bg.jpeg');
  background-size: cover;
  color: #ffffff;
  font-family: 'Days One', sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-around;
  margin: 2vh;
  padding: 1vh;
}

.btn {
  margin: auto;
}

.header {
  font-size: 3.75em;
  text-align: center;
  margin: 2vh;
  padding: 2vh;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin: 6vh 3vh 3vh 3vh;
}

.footer {
  font-size: 1em;
  padding-top: 2vh;
  padding-right: 3vh;
}

.home {
  padding-right: 3vh;
}

.time {
  font-size: 1em;
  padding-top: 2vh;
  padding-left: 3vh;
}

.btn-a{
  color: #000000;
  background-color: #ffffff;
  border-radius: 75px;
  padding: 2vh;
}

.btn-b{
  color: #000000;
  background-color: #ffffff;
  border-radius: 75px;
  padding: 2vh;
}

.btn-b:hover {
  background-color: #419A5A;
}

.btn-a:hover {
  background-color: #F5F453;
}
