body {
  background-image: url('../img/main-bg.jpeg');
  background-size: cover;
  color: #ffffff;
  font-family: 'Audiowide', cursive;
}

.navigation {
  display: flex;
  justify-content: space-around;
  margin: 2vh;
  padding: 1vh;
}

.btn {
  background-color: #ffffff;
  color: #000000;
  margin: auto;
  padding: 2vh;
  border-radius: 75px
}

.header {
  font-size: 3.75em;
  text-align: center;
  margin: 2vh;
  padding: 2vh;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin: 3vh;
}

.footer {
  font-size: 1em;
  padding-top: 2vh;
  padding-right: 3vh;
}

.home {
  padding-right: 3vh;
}

.time {
  font-size: 1em;
  padding-top: 2vh;
  padding-left: 3vh;
}

.btn-a{
  text-decoration: none;
  color: #000000;
}
