body {
  background-image: url('../img/main-bg.jpeg');
  background-size: 100vw 100vh;
  color: #ffffff;
  font-family: 'Audiowide', cursive;
}

.navigation {
  display: flex;
  justify-content: space-around;
  margin: 2vh;
  padding: 1vh;
}

.btn {
  background-color: #ffffff;
  color: #000000;
  margin: auto;
  padding: 2vh;
  border-radius: 75px
}

.header {
  font-size: 3.75em;
  text-align: center;
  margin: 2vh;
  padding: 2vh;
}
