.paragraph {
  font-family: 'Days One', sans-serif;
  text-align: center;
}

.top-bottom {
  display: flex;
  justify-content: space-around;
  margin: 2vh 1vh;
  padding: 4vh 1vh;
  align-items: center;
}

.middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto 2vh;
  padding: 2vh 2vh;
}

.middle-middle {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.yoda {
  padding: 1vh;
}

.planet-one {
  animation-duration: 5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 150vw;
    width: 100%;
  }
}

.planet-five {
  animation-duration: 5s;
  animation-name: easein;
}

@keyframes easein {
  from {
    margin-left: 150vw;
    width: 100%;
  }
}
