.title {
  margin: 7vh 0 5vh 0;
  display: flex;
  justify-content: space-around;
}

.page {
}

button {
}

.each {
  font-family: 'News Cycle', sans-serif;
  padding: 1vh 3vh 1vh 3vh;
  margin: 1vh 2vh 1vh 2vh;
}

h1 {
  font-size: 2em;
  font-family: 'Days One', sans-serif;
}

h2 {
  font-size: 1.5em;
  font-family: 'Days One', sans-serif;
  text-decoration: underline;
}

.yellow {
  color: #F5F453;
}

.green {
  color: #419A5A;
}

.third {
  margin: 2vh 4vh 4vh 4vh;
  padding: 2vh 1vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.element {
  padding: 1vh;
  margin: 1vh;
  font-size: 1em;
}
