.planet {
  font-family: 'Days One', sans-serif;
  margin: 5vh;
}

h1 {
  font-family: 'Audiowide', cursive;
}

h2 {
  font-family: 'Audiowide', cursive;
}

button {
  font-family: 'Days One', sans-serif;
}

.page {
  font-family: 'Days One', sans-serif;
}
