<div class='top-bottom'>
  <div class='slide'>
    <img src='img/planet01.png' width='150px'>
  </div>
  <div>
    <img src='img/planet07.png' width='160px'>
  </div>
</div>

<div>
  <div class='middle'>
    <div class='up-down1'>
      <img src='img/planet05.png' width='175px'>
    </div>


  <div class='middle-middle'>
    <div class='yoda'>
      <img src='img/yoda.jpg' width='100px'>
    </div>
      <div class='paragraph'>
        Learn more about the planets and the people in the Star Wars Galaxy
      </div>
  </div>
  <div class='up-down2'>
    <img src='img/planet23.png' width='150px'>
  </div>
</div>
</div>

<div class='top-bottom'>
  <div class='slide'>
  <img src='img/planet03.png'>
</div>
<div>
  <img src='img/planet02.png' width='145px'>
</div>
</div>
