<div class='title'>
  <h1 class='yellow'>People of the Galaxy</h1>
  <div>
      <button ng-click="prev()" ng-disabled="currentPage === 1">Previous</button>
        <span class='page yellow'>Page {{currentPage}}</span>
      <button ng-click="next()" ng-disabled="currentPage === maxPages">Next</button>
  </div>
</div>
<div class='third'>
<div ng-repeat='person in people' class='each'>
  <h2>{{person.name}}</h2>
  <span class='element'><span style='font-weight:700'>Birth Year:</span> {{person.birth_year}}</span>
  <span class='element'><span style='font-weight:700'>Gender:</span> {{person.gender}}</span>
  <span class='element'><span style='font-weight:700'>Eye Color:</span> {{person.eye_color}}</span>
  <span class='element'><span style='font-weight:700'>Hair Color:</span> {{person.hair_color}}</span>
  <span class='element'><span style='font-weight:700'>Skin Color:</span> {{person.skin_color}}</span>
  <span class='element'><span style='font-weight:700'>Height:</span> {{person.height}}cm</span>
  <span class='element'><span style='font-weight:700'>Mass:</span> {{person.mass}}kg</span>
  <span class='element'><span style='font-weight:700'>Homeworld:</span> {{person.homeWorldData}}</span>
</div>
</div>
