<div class='title'>
  <h1 class='green'>Planets in the Galaxy</h1>
  <div>
    <button ng-click="prev()" ng-disabled="currentPage === 1">Previous</button>
    <span class='page green'>Page {{currentPage}}</span>
    <button ng-click="next()" ng-disabled="currentPage === maxPages">Next</button>
  </div>
</div>
<div class='third'>
<div ng-repeat='planet in planets' class='each' ng-grid=''>
  <h2>{{planet.name}}</h2>
  <span class='element'><span style='font-weight:700'>One Day:</span> {{planet.rotation_period}} hours</span>
  <span class='element'><span style='font-weight:700'>One Year:</span> {{planet.orbital_period}} days</span>
  <span class='element'><span style='font-weight:700'>Population:</span> {{planet.population}}</span>
  <span class='element'><span style='font-weight:700'>Climate:</span> {{planet.climate}}</span>
  <span class='element'><span style='font-weight:700'>Terrain:</span> {{planet.terrain}}</span>
  <span class='element'><span style='font-weight:700'>Water Surface Area:</span> {{planet.surface_water}}%</span>
</div>
</div>
